In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
df2 = pd.read_table('examples/ex1.csv', sep=',')
df2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df3 = pd.read_csv('examples/ex2.csv')
df3

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [5]:
df4 = pd.read_csv('examples/ex2.csv',header=None)
df4

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
df5 = pd.read_csv('examples/ex2.csv',names=['a','b','c','d','message'])
df5

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
df6 = pd.read_csv('examples/ex2.csv',names=['a','b','c','d','message'],index_col='message') #index with one of the columns
df6

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
parsed = pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2']) #Hierarchical Indexing of one of the columns
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [9]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
result = pd.read_table('examples/ex3.txt',sep='\s+')
result

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
pd.read_csv('examples/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [17]:
result.isnull().sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [19]:
result = pd.read_csv('examples/ex5.csv',na_values=[1])
result

  something    a   b     c   d message
0       one  NaN   2   3.0   4     NaN
1       two  5.0   6   NaN   8   world
2     three  9.0  10  11.0  12     foo

In [20]:
pd.read_csv('examples/ex6.csv',nrows=5) Only to read subset of data

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [22]:
chunker = pd.read_csv('examples/ex6.csv',chunksize=1000)
chunker

In [23]:
tot =pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

In [24]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
data.to_csv('examples/out.csv')

In [26]:
import sys
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [27]:
data.to_csv(sys.stdout,sep='|',na_rep='NULL')

|something|a|b|c|d|message
0|one|1|2|3.0|4|NULL
1|two|5|6|NULL|8|world
2|three|9|10|11.0|12|foo

# JSON

In [28]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# HTML - WEB SCRAPPING

In [29]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
tables

[                                  Bank Name             City  ST   CERT  \
 0                               Allied Bank         Mulberry  AR     91
 1              The Woodbury Banking Company         Woodbury  GA  11297
 2                    First CornerStone Bank  King of Prussia  PA  35312
 3                        Trust Company Bank          Memphis  TN   9956
 4                North Milwaukee State Bank        Milwaukee  WI  20364
 5                    Hometown National Bank         Longview  WA  35156
 6                       The Bank of Georgia   Peachtree City  GA  35259
 7                              Premier Bank           Denver  CO  34112
 8                            Edgebrook Bank          Chicago  IL  57772
 9                    Doral Bank  En Espanol         San Juan  PR  32102
 10        Capitol City Bank & Trust Company          Atlanta  GA  33938
 11                  Highland Community Bank          Chicago  IL  20290
 12         First National Bank of Crestview        Crestview  FL  17557
 13                       Northern Star Bank          Mankato  MN  34983
 14   Frontier Bank, FSB D/B/A El Paseo Bank      Palm Desert  CA  34738
 15    The National Republic Bank of Chicago          Chicago  IL    916
 16                           NBRS Financial       Rising Sun  MD   4862
 17                    GreenChoice Bank, fsb          Chicago  IL  28462
 18                 Eastside Commercial Bank          Conyers  GA  58125
 19                   The Freedom State Bank          Freedom  OK  12483
 20                              Valley Bank  Fort Lauderdale  FL  21793
 21                              Valley Bank           Moline  IL  10450
 22              Slavie Federal Savings Bank          Bel Air  MD  32368
 23                    Columbia Savings Bank       Cincinnati  OH  32284
 24             AztecAmerica Bank En Espanol           Berwyn  IL  57866
 25                    Allendale County Bank          Fairfax  SC  15062
 26                       Vantage Point Bank          Horsham  PA  58531
 27    Millennium Bank, National Association         Sterling  VA  35096
 28                             Syringa Bank            Boise  ID  34296
 29                        The Bank of Union          El Reno  OK  17967
 ..                                      ...              ...  ..    ...
 517                       ANB Financial, NA      Bentonville  AR  33901
 518                               Hume Bank             Hume  MO   1971
 519                  Douglass National Bank      Kansas City  MO  24660
 520                       Miami Valley Bank         Lakeview  OH  16848
 521                                 NetBank       Alpharetta  GA  32575
 522               Metropolitan Savings Bank       Pittsburgh  PA  35353
 523                         Bank of Ephraim          Ephraim  UT   1249
 524                           Reliance Bank     White Plains  NY  26778
 525   Guaranty National Bank of Tallahassee      Tallahassee  FL  26838
 526                     Dollar Savings Bank           Newark  NJ  31330
 527                    Pulaski Savings Bank     Philadelphia  PA  27203
 528   First National Bank of Blanchardville   Blanchardville  WI  11639
 529                   Southern Pacific Bank         Torrance  CA  27094
 530             Farmers Bank of Cheneyville      Cheneyville  LA  16445
 531                           Bank of Alamo            Alamo  TN   9961
 532  AmTrade International Bank  En Espanol          Atlanta  GA  33784
 533          Universal Federal Savings Bank          Chicago  IL  29355
 534            Connecticut Bank of Commerce         Stamford  CT  19183
 535                        New Century Bank  Shelby Township  MI  34979
 536                   Net 1st National Bank       Boca Raton  FL  26652
 537                            NextBank, NA          Phoenix  AZ  22314
 538                Oakwood Deposit Bank Co.          Oakwood  OH   8966
 539                   Bank of Sierra Blanca    Sierra Blanca  TX  22002
 540           Hamilton Bank, NA  En Espanol            Miami  FL  24382
 541                  Sinclair National Bank         Gravette  AR  34248
 542                      Superior Bank, FSB         Hinsdale  IL  32646
 543                     Malta National Bank            Malta  OH   6629
 544         First Alliance Bank & Trust Co.       Manchester  NH  34264
 545       National State Bank of Metropolis       Metropolis  IL   3815
 546                        Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 5                         Twin City Bank     October 2, 2015
 6                          Fidelity Bank     October 2, 2015
 7              United Fidelity Bank, fsb       July 10, 2015
 8               Republic Bank of Chicago         May 8, 2015
 9           Banco Popular de Puerto Rico   February 27, 2015
 10   First-Citizens Bank & Trust Company   February 13, 2015
 11             United Fidelity Bank, fsb    January 23, 2015
 12                        First NBC Bank    January 16, 2015
 13                             BankVista   December 19, 2014
 14     Bank of Southern California, N.A.    November 7, 2014
 15                   State Bank of Texas    October 24, 2014
 16                           Howard Bank    October 17, 2014
 17                  Providence Bank, LLC       July 25, 2014
 18             Community & Southern Bank       July 18, 2014
 19       Alva State Bank & Trust Company       June 27, 2014
 20   Landmark Bank, National Association       June 20, 2014
 21                   Great Southern Bank       June 20, 2014
 22                         Bay Bank, FSB        May 30, 2014
 23             United Fidelity Bank, fsb        May 23, 2014
 24              Republic Bank of Chicago        May 16, 2014
 25                   Palmetto State Bank      April 25, 2014
 26                     First Choice Bank   February 28, 2014
 27                  WashingtonFirst Bank   February 28, 2014
 28                          Sunwest Bank    January 31, 2014
 29                             BancFirst    January 24, 2014
 ..                                   ...                 ...
 517       Pulaski Bank and Trust Company         May 9, 2008
 518                        Security Bank       March 7, 2008
 519       Liberty Bank and Trust Company    January 25, 2008
 520         The Citizens Banking Company     October 4, 2007
 521                           ING DIRECT  September 28, 2007
 522  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 523                        Far West Bank       June 25, 2004
 524                     Union State Bank      March 19, 2004
 525              Hancock Bank of Florida      March 12, 2004
 526                          No Acquirer   February 14, 2004
 527                       Earthstar Bank   November 14, 2003
 528                        The Park Bank         May 9, 2003
 529                            Beal Bank    February 7, 2003
 530            Sabine State Bank & Trust   December 17, 2002
 531                          No Acquirer    November 8, 2002
 532                          No Acquirer  September 30, 2002
 533               Chicago Community Bank       June 27, 2002
 534                   Hudson United Bank       June 26, 2002
 535                          No Acquirer      March 28, 2002
 536                       Bank Leumi USA       March 1, 2002
 537                          No Acquirer    February 7, 2002
 538       The State Bank & Trust Company    February 1, 2002
 539     The Security State Bank of Pecos    January 18, 2002
 540     Israel Discount Bank of New York    January 11, 2002
 541                   Delta Trust & Bank   September 7, 2001
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

            Updated Date
 0     November 17, 2016
 1     November 17, 2016
 2     September 6, 2016
 3     September 6, 2016
 4         June 16, 2016
 5        April 13, 2016
 6      October 24, 2016
 7       August 17, 2016
 8         July 12, 2016
 9          May 13, 2015
 10       April 21, 2015
 11       April 21, 2015
 12     January 15, 2016
 13      January 6, 2016
 14    November 10, 2016
 15      January 6, 2016
 16       March 26, 2015
 17        July 28, 2015
 18        July 11, 2016
 19       March 25, 2016
 20        June 29, 2015
 21        June 26, 2015
 22        June 15, 2015
 23    November 10, 2016
 24     October 20, 2016
 25        July 18, 2014
 26        March 3, 2015
 27       March 03, 2015
 28       April 12, 2016
 29       March 25, 2016
 ..                  ...
 517     August 28, 2012
 518     August 28, 2012
 519    October 26, 2012
 520  September 12, 2016
 521     August 28, 2012
 522    October 27, 2010
 523       April 9, 2008
 524       April 9, 2008
 525        June 5, 2012
 526       April 9, 2008
 527       July 22, 2005
 528        June 5, 2012
 529    October 20, 2008
 530    October 20, 2004
 531      March 18, 2005
 532  September 11, 2006
 533       April 9, 2008
 534   February 14, 2012
 535      March 18, 2005
 536       April 9, 2008
 537    February 5, 2015
 538    October 25, 2012
 539    November 6, 2003
 540  September 21, 2015
 541   February 10, 2004
 542     August 19, 2014
 543   November 18, 2002
 544   February 18, 2003
 545      March 17, 2005
 546      March 17, 2005

 [547 rows x 7 columns]]

In [30]:
failures = tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
5,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","April 13, 2016"
6,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","October 24, 2016"
7,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","August 17, 2016"
8,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
9,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"
10,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015"
11,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","April 21, 2015"
12,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","January 15, 2016"
13,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 6, 2016"
14,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
15,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
16,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","March 26, 2015"
17,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","July 28, 2015"
18,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","July 11, 2016"
19,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","March 25, 2016"
20,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","June 29, 2015"
21,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","June 26, 2015"
22,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB","May 30, 2014","June 15, 2015"
23,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb","May 23, 2014","November 10, 2016"
24,AztecAmerica Bank En Espanol,Berwyn,IL,57866,Republic Bank of Chicago,"May 16, 2014","October 20, 2016"
25,Allendale County Bank,Fairfax,SC,15062,Palmetto State Bank,"April 25, 2014","July 18, 2014"
26,Vantage Point Bank,Horsham,PA,58531,First Choice Bank,"February 28, 2014","March 3, 2015"
27,"Millennium Bank, National Association",Sterling,VA,35096,WashingtonFirst Bank,"February 28, 2014","March 03, 2015"
28,Syringa Bank,Boise,ID,34296,Sunwest Bank,"January 31, 2014","April 12, 2016"
29,The Bank of Union,El Reno,OK,17967,BancFirst,"January 24, 2014","March 25, 2016"
...,...,...,...,...,...,...,...
517,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","August 28, 2012"
518,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","August 28, 2012"
519,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
520,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
521,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","August 28, 2012"
522,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
523,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
524,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
525,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","June 5, 2012"
526,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
527,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","July 22, 2005"
528,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
529,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
530,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
531,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
532,AmTrade International Bank En Espanol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
533,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","April 9, 2008"
534,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
535,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
536,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
537,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
538,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
539,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
540,"Hamilton Bank, NA En Espanol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
541,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","February 10, 2004"
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [31]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
frame.to_pickle('examples/frame_pickle')

In [33]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [34]:
frame = pd.read_excel('examples/ex1.xlsx')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [37]:
frame = pd.read_excel('examples/ex1.xlsx',parse='sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

# WEB API

In [39]:
import requests
url ='https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [40]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29113',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29113/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29113/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29113/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29113',
  'id': 509576831,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMwMTA0NzI2',
  'number': 29113,
  'title': 'DOC: Add instructions how to activate virtual env under windows with pip',
  'user': {'login': 'gbaychev',
   'id': 3358056,
   'node_id': 'MDQ6VXNlcjMzNTgwNTY=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/3358056?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/gbaychev',
   'html_url': 'https://github.com/gbaychev',
   'followers_url': 'https://api.github.com/users/gbaychev/followers',
   'following_url': 'https://api.github.com/users/gbaychev/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gbaychev/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/gbaychev/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gbaychev/subscriptions',
   'organizations_url': 'https://api.github.com/users/gbaychev/orgs',
   'repos_url': 'https://api.github.com/users/gbaychev/repos',
   'events_url': 'https://api.github.com/users/gbaychev/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/gbaychev/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T10:42:45Z',
  'updated_at': '2019-10-20T10:42:45Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29113',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29113',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29113.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29113.patch'},
  'body': 'Contributing.rst now correctly describes how to setup dev environment\r\nunder Windows when using pip and not conda.\r\n\r\nCloses #29112\r\n\r\n- [x] closes #29112 \r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29112',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29112/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29112/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29112/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29112',
  'id': 509575493,
  'node_id': 'MDU6SXNzdWU1MDk1NzU0OTM=',
  'number': 29112,
  'title': 'DOC: the description of activating virtual env with pip under windows is not correct',
  'user': {'login': 'gbaychev',
   'id': 3358056,
   'node_id': 'MDQ6VXNlcjMzNTgwNTY=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/3358056?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/gbaychev',
   'html_url': 'https://github.com/gbaychev',
   'followers_url': 'https://api.github.com/users/gbaychev/followers',
   'following_url': 'https://api.github.com/users/gbaychev/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gbaychev/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/gbaychev/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gbaychev/subscriptions',
   'organizations_url': 'https://api.github.com/users/gbaychev/orgs',
   'repos_url': 'https://api.github.com/users/gbaychev/repos',
   'events_url': 'https://api.github.com/users/gbaychev/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/gbaychev/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T10:29:27Z',
  'updated_at': '2019-10-20T10:41:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "#### Problem description\r\n\r\nHello everybody, \r\nyesterday I tried to setup pandas dev environment under Windows. I have python only  3.7.5 installed.\r\n\r\nIn doc/source/development/contributing.rst is described how I can setup a dev environment and one of the steps is creating a virtual environment with pip. There is an instruction how to activate it:\r\n\r\n`. ~/virtualenvs/pandas-dev/bin/activate`\r\n\r\nThis cannot function under Windows, since the virtualenv module does not create a bin folder. I've added a couple of comments which scripts should be run under Windows and will submit a PR shortly."},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29111',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29111/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29111/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29111/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29111',
  'id': 509572009,
  'node_id': 'MDU6SXNzdWU1MDk1NzIwMDk=',
  'number': 29111,
  'title': 'API: Remove nan-likes from MultiIndex levels',
  'user': {'login': 'topper-123',
   'id': 26364415,
   'node_id': 'MDQ6VXNlcjI2MzY0NDE1',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/26364415?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/topper-123',
   'html_url': 'https://github.com/topper-123',
   'followers_url': 'https://api.github.com/users/topper-123/followers',
   'following_url': 'https://api.github.com/users/topper-123/following{/other_user}',
   'gists_url': 'https://api.github.com/users/topper-123/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/topper-123/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/topper-123/subscriptions',
   'organizations_url': 'https://api.github.com/users/topper-123/orgs',
   'repos_url': 'https://api.github.com/users/topper-123/repos',
   'events_url': 'https://api.github.com/users/topper-123/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/topper-123/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 35818298,
    'node_id': 'MDU6TGFiZWwzNTgxODI5OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design',
    'name': 'API Design',
    'color': 'AD7FA8',
    'default': False},
   {'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T09:54:58Z',
  'updated_at': '2019-10-20T10:00:37Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "Working on #27138 I've found that ``MultiIndex`` keeps nan-likes in the levels, but encode them all to -1:\r\n\r\n```python\r\n>>> levels, codes = [[nan, None, pd.NaT, 128, 2]], [[0, -1, 1, 2, 3, 4]]\r\n>>> mi = pd.MultiIndex(levels, codes)\r\n>>> mi.codes[0]\r\n[-1, -1, -1, -1, 3, 4]\r\n>>> mi.levels[0]\r\nIndex([nan, None, NaT, 128, 2], dtype='object')\r\n```\r\n\r\nAll the MultiIndex nan-likes are encoded to -1, so it's not possible to decode them to their constituent values. So it's not possible to get more than one nan-like values out of the MultiIndex, so in this case ``None`` and ``NaT`` disappears when converting:\r\n\r\n```python\r\n>>> mi.to_frame()[0].array\r\n<PandasArray>\r\n[nan, nan, nan, nan, 128, 2]\r\nLength: 6, dtype: object\r\n```\r\n\r\nI think if nan-likes are all encoded to -1, it'd be more consistent to not have them in the levels, similarly to how ``Categorical`` does it already.\r\n\r\n```python\r\n>>> c = pd.Categorical(levels[0])\r\n>>> c.codes\r\narray([-1, -1, -1,  1,  0], dtype=int8)\r\n>>> c.categories\r\n>>> Int64Index([2, 128], dtype='int64')\r\n```\r\n\r\nIs there acceptance to change the MultiIndex API so we get nan-likes out of the labels? That would give them an API more similar to ``Categorical``.\r\n\r\n@pandas-dev/pandas-core."},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29110',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29110/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29110/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29110/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29110',
  'id': 509554151,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMwMDg5MTQ3',
  'number': 29110,
  'title': 'Fix mypy errors',
  'user': {'login': 'AbhijeetKrishnan',
   'id': 9865734,
   'node_id': 'MDQ6VXNlcjk4NjU3MzQ=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/9865734?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/AbhijeetKrishnan',
   'html_url': 'https://github.com/AbhijeetKrishnan',
   'followers_url': 'https://api.github.com/users/AbhijeetKrishnan/followers',
   'following_url': 'https://api.github.com/users/AbhijeetKrishnan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/AbhijeetKrishnan/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/AbhijeetKrishnan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/AbhijeetKrishnan/subscriptions',
   'organizations_url': 'https://api.github.com/users/AbhijeetKrishnan/orgs',
   'repos_url': 'https://api.github.com/users/AbhijeetKrishnan/repos',
   'events_url': 'https://api.github.com/users/AbhijeetKrishnan/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/AbhijeetKrishnan/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T06:41:42Z',
  'updated_at': '2019-10-20T06:41:59Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29110',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29110',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29110.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29110.patch'},
  'body': 'Addresses a subtask of issue #28926\r\n\r\n- [x] closes a subtask of #28926\r\n- [x] tests passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29108',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29108/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29108/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29108/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29108',
  'id': 509551570,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMwMDg3MzUx',
  'number': 29108,
  'title': 'Fix mypy errors',
  'user': {'login': 'AbhijeetKrishnan',
   'id': 9865734,
   'node_id': 'MDQ6VXNlcjk4NjU3MzQ=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/9865734?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/AbhijeetKrishnan',
   'html_url': 'https://github.com/AbhijeetKrishnan',
   'followers_url': 'https://api.github.com/users/AbhijeetKrishnan/followers',
   'following_url': 'https://api.github.com/users/AbhijeetKrishnan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/AbhijeetKrishnan/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/AbhijeetKrishnan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/AbhijeetKrishnan/subscriptions',
   'organizations_url': 'https://api.github.com/users/AbhijeetKrishnan/orgs',
   'repos_url': 'https://api.github.com/users/AbhijeetKrishnan/repos',
   'events_url': 'https://api.github.com/users/AbhijeetKrishnan/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/AbhijeetKrishnan/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T06:07:17Z',
  'updated_at': '2019-10-20T06:07:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29108',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29108',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29108.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29108.patch'},
  'body': 'Addresses one subtask of issue #28926\r\n\r\n- [x] closes a subtask of #28296\r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29107',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29107/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29107/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29107/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29107',
  'id': 509542508,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMwMDgxMTg2',
  'number': 29107,
  'title': 'WEB: Improvements to the contribute page',
  'user': {'login': 'datapythonista',
   'id': 10058240,
   'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/10058240?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/datapythonista',
   'html_url': 'https://github.com/datapythonista',
   'followers_url': 'https://api.github.com/users/datapythonista/followers',
   'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
   'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
   'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
   'repos_url': 'https://api.github.com/users/datapythonista/repos',
   'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1508144531,
    'node_id': 'MDU6TGFiZWwxNTA4MTQ0NTMx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Web',
    'name': 'Web',
    'color': '23ef97',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T04:05:16Z',
  'updated_at': '2019-10-20T04:05:16Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29107',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29107',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29107.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29107.patch'},
  'body': '![contribute_page](https://user-images.githubusercontent.com/10058240/67154550-c9d16a80-f2c3-11e9-9664-87390766f1e3.png)\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29106',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29106/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29106/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29106/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29106',
  'id': 509527289,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMwMDcwNzEy',
  'number': 29106,
  'title': 'BUG: IndexError in libreduction',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-20T00:39:56Z',
  'updated_at': '2019-10-20T00:39:56Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29106',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29106',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29106.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29106.patch'},
  'body': 'cc @WillAyd @jreback another from the groupby-Exception follow-ups.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29105',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29105/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29105/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29105/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29105',
  'id': 509519490,
  'node_id': 'MDU6SXNzdWU1MDk1MTk0OTA=',
  'number': 29105,
  'title': 'Should Series.diff() have an axis argument?',
  'user': {'login': 'vfilimonov',
   'id': 1324881,
   'node_id': 'MDQ6VXNlcjEzMjQ4ODE=',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/1324881?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/vfilimonov',
   'html_url': 'https://github.com/vfilimonov',
   'followers_url': 'https://api.github.com/users/vfilimonov/followers',
   'following_url': 'https://api.github.com/users/vfilimonov/following{/other_user}',
   'gists_url': 'https://api.github.com/users/vfilimonov/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/vfilimonov/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/vfilimonov/subscriptions',

In [41]:
df = pd.DataFrame(data,columns=['number','title','labels','state'])
df

,number,title,labels,state
0,29113,DOC: Add instructions how to activate virtual ...,[],open
1,29112,DOC: the description of activating virtual env...,[],open
2,29111,API: Remove nan-likes from MultiIndex levels,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
3,29110,Fix mypy errors,[],open
4,29108,Fix mypy errors,[],open
5,29107,WEB: Improvements to the contribute page,"[{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...",open
6,29106,BUG: IndexError in libreduction,[],open
7,29105,Should Series.diff() have an axis argument?,[],open
8,29104,Added code to check if file exists for read_json.,[],open
9,29103,BUG: fix TypeError raised in maybe_downcast_nu...,[],open
10,29102,Misleading error messages when opening inexist...,"[{'id': 195648009, 'node_id': 'MDU6TGFiZWwxOTU...",open
11,29101,[#22550] Remove TestData from series-tests tes...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
12,29100,BUG: fix AttributeError raised in libreduction,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,29099,"TST: stop suppressing plot test exceptions, xf...","[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
14,29095,Excel formula injection in pandas .to_excel(),[],open
15,29094,Feature request: Add _libs.* native support to...,[],open
16,29093,TST: Add regression test for Series index.map ...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
17,29090,Running pytest locally,[],open
18,29087,Correcting Warnings from IPython tab completio...,"[{'id': 13101118, 'node_id': 'MDU6TGFiZWwxMzEw...",open
19,29082,df[:0] returns KeyError when index is float64 ...,[],open
20,29081,`values=['c']` returns `aggfunc` on all column...,[],open
21,29080,pandas pivot_table aggfunc/values parameters b...,[],open
22,29079,DOC: mad description incorrectly includes 'num...,[],open
23,29076,GraphQL support / accessor plugin system,[],open
24,29075,Passing a psycopg2 connection to read_sql can ...,"[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
25,29073,DOCS: Errors PR08 PR09 in pandas.Period,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
26,29072,Sticky header and index for large data frames ...,[],open
27,29071,TST: Add regression test for Series dropping u...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
28,29070,Warnings from IPython tab completion tests,"[{'id': 195648009, 'node_id': 'MDU6TGFiZWwxOTU...",open
29,29069,Index.name is not validatied to be Hashable,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open