In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.098059
2011-01-05   -0.810902
2011-01-07    0.248263
2011-01-08    0.557596
2011-01-10    0.094011
2011-01-12   -0.368478
dtype: float64

In [3]:
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

# Generating Date Ranges

In [4]:
index = pd.date_range('2012-04-01','2012-06-02') #Generates Datetime"INDEX"
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01', '2012-06-02'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(end='2012-06-02', periods=20)

DatetimeIndex(['2012-05-14', '2012-05-15', '2012-05-16', '2012-05-17',
               '2012-05-18', '2012-05-19', '2012-05-20', '2012-05-21',
               '2012-05-22', '2012-05-23', '2012-05-24', '2012-05-25',
               '2012-05-26', '2012-05-27', '2012-05-28', '2012-05-29',
               '2012-05-30', '2012-05-31', '2012-06-01', '2012-06-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range('2000-01-01','2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [8]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range('2012-02-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-02-02', '2012-02-03', '2012-02-04', '2012-02-05',
               '2012-02-06'],
              dtype='datetime64[ns]', freq='D')

# Frequencies and Data Offsets

In [10]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [11]:
four_hours = Hour(4)
four_hours

In [12]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [14]:
Hour(2)+Minute(30)

In [15]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00',
               '2000-01-02 06:00:00', '2000-01-02 07:30:00',
               '2000-01-02 09:00:00', '2000-01-02 10:30:00',
               '2000-01-02 12:00:00', '2000-01-02 13:30:00',
               '2000-01-02 15:00:00', '2000-01-02 16:30:00',
               '2000-01-02 18:00:00', '2000-01-02 19:30:00',
               '2000-01-02 21:00:00', '2000-01-02 22:30:00',
               '2000-01-03 00:00:00', '2000-01-03 01:30:00',
               '2000-01-03 03:00:00', '2000-01-03 04:30:00',
               '2000-01-03 06:00:00', '2000-01-03 07:30:00',
               '2000-01-03 09:00:00', '2000-01-03 10:30:00',
               '2000-01-03 12:00:00', '2000-01-03 13:30:00',
               '2000-01-03 15:00:00', '2000-01-03 16:30:00',
               '2000-01-03 18:00:00', '2000-01-03 19:30:00',
               '2000-01-03 21:00:00', '2000-01-03 22:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [16]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

# Shifting(leading and lagging) Data

In [17]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -0.620140
2000-02-29    2.282982
2000-03-31    0.945202
2000-04-30    2.064633
Freq: M, dtype: float64

In [18]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.620140
2000-04-30    2.282982
Freq: M, dtype: float64

In [19]:
ts.shift(-2)

2000-01-31    0.945202
2000-02-29    2.064633
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [21]:
ts/ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.524174
2000-04-30    0.904358
Freq: M, dtype: float64

In [23]:
ts

2000-01-31   -0.620140
2000-02-29    2.282982
2000-03-31    0.945202
2000-04-30    2.064633
Freq: M, dtype: float64

In [22]:
ts.shift(2,freq='M')

2000-03-31   -0.620140
2000-04-30    2.282982
2000-05-31    0.945202
2000-06-30    2.064633
Freq: M, dtype: float64

In [24]:
ts.shift(2,freq='D')

2000-02-02   -0.620140
2000-03-02    2.282982
2000-04-02    0.945202
2000-05-02    2.064633
dtype: float64

In [25]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.620140
2000-02-29 01:30:00    2.282982
2000-03-31 01:30:00    0.945202
2000-04-30 01:30:00    2.064633
Freq: M, dtype: float64

# Shifting Dates with Offsets

In [27]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
now

datetime.datetime(2011, 11, 17, 0, 0)

In [28]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [29]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [30]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [31]:
offset = MonthEnd()
offset

In [32]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [33]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [34]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.150600
2000-01-19    1.868408
2000-01-23   -2.262880
2000-01-27   -1.304586
2000-01-31    0.397353
2000-02-04   -2.198140
2000-02-08   -0.775866
2000-02-12    0.007151
2000-02-16   -1.186023
2000-02-20   -0.715068
2000-02-24    0.368387
2000-02-28   -1.106598
2000-03-03    0.041045
2000-03-07    0.211930
2000-03-11   -0.337801
2000-03-15   -0.724884
2000-03-19    0.152153
2000-03-23   -0.341771
2000-03-27   -0.901171
2000-03-31    0.654630
Freq: 4D, dtype: float64

In [35]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.230221
2000-02-29   -0.800880
2000-03-31   -0.155734
dtype: float64

In [36]:
ts.resample('M').mean()

2000-01-31   -0.230221
2000-02-29   -0.800880
2000-03-31   -0.155734
Freq: M, dtype: float64