In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
p = pd.Period(2007,freq='A-DEC')
p

Period('2007', 'A-DEC')

In [4]:
p+5

Period('2012', 'A-DEC')

In [5]:
p-2

Period('2005', 'A-DEC')

In [7]:
pd.Period('2014', freq='A-DEC')-p

In [9]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [10]:
pd.Series(np.random.randn(len(rng)),index=rng)

2000-01   -1.638071
2000-02    0.755492
2000-03   -0.515945
2000-04    2.320487
2000-05    0.150245
2000-06   -1.248411
Freq: M, dtype: float64

In [11]:
values = ['2001Q1','2002Q2','2003Q1']
index = pd.PeriodIndex(values,freq='Q-DEC')
index

PeriodIndex(['2001Q1', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

# Period Frequency Conversion

In [12]:
p = pd.Period('2007',freq='A-DEC')
p

Period('2007', 'A-DEC')

In [13]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [14]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [15]:
p =pd.Period('2007', freq='A-JUN')
p

Period('2007', 'A-JUN')

In [16]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [17]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [18]:
p =pd.Period('AUG-2007', 'M')
p

Period('2007-08', 'M')

In [19]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [20]:
rng = pd.period_range('2006','2009',freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006   -0.701355
2007    0.024848
2008   -0.782519
2009   -1.181986
Freq: A-DEC, dtype: float64

In [21]:
ts.asfreq('M',how='start')

2006-01   -0.701355
2007-01    0.024848
2008-01   -0.782519
2009-01   -1.181986
Freq: M, dtype: float64

In [22]:
ts.asfreq('B',how='end')

2006-12-29   -0.701355
2007-12-31    0.024848
2008-12-31   -0.782519
2009-12-31   -1.181986
Freq: B, dtype: float64

In [23]:
ts.asfreq('B',how='start')

2006-01-02   -0.701355
2007-01-01    0.024848
2008-01-01   -0.782519
2009-01-01   -1.181986
Freq: B, dtype: float64

# Quarterly Period Frequencies

In [24]:
p = pd.Period('2012Q4',freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [25]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [26]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [32]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s')+16*60
p4pm

Period('2012-01-30 16:00', 'T')

In [33]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [34]:
rng = pd.period_range('2011Q3','2012Q4', freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [35]:
ts = pd.Series(np.arange(len(rng)),index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [37]:
new_rng = (rng.asfreq('B','e')-1).asfreq('T','S')+16*60
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [38]:
ts.index = new_rng.to_timestamp()

In [39]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

# Converting Timestamps to Periods and Back

In [42]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.838640
2000-02-29   -1.335152
2000-03-31   -1.966839
Freq: M, dtype: float64

In [43]:
pts = ts.to_period()
pts

2000-01   -0.838640
2000-02   -1.335152
2000-03   -1.966839
Freq: M, dtype: float64

In [51]:
rng = pd.period_range('1/29/2000', periods=6, freq='D')
Tts2 = pd.Series(np.random.randn(6), index=rng)
Tts2

2000-01-29    1.333357
2000-01-30    1.257812
2000-01-31    1.054532
2000-02-01   -2.182354
2000-02-02   -1.566628
2000-02-03    0.441490
Freq: D, dtype: float64

In [53]:
ts.to_period('M')

2000-01   -0.838640
2000-02   -1.335152
2000-03   -1.966839
Freq: M, dtype: float64

In [54]:
pts

2000-01   -0.838640
2000-02   -1.335152
2000-03   -1.966839
Freq: M, dtype: float64

In [55]:
pts.to_timestamp()

2000-01-01   -0.838640
2000-02-01   -1.335152
2000-03-01   -1.966839
Freq: MS, dtype: float64

In [58]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -0.838640
2000-02-29 23:59:59.999999999   -1.335152
2000-03-31 23:59:59.999999999   -1.966839
Freq: M, dtype: float64

# Creating PeriodIndex From Arrays

In [59]:
data = pd.read_csv('examples/macrodata.csv')
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [60]:
data.year,data.quarter

(0      1959.0
 1      1959.0
 2      1959.0
 3      1959.0
 4      1960.0
 5      1960.0
 6      1960.0
 7      1960.0
 8      1961.0
 9      1961.0
 10     1961.0
 11     1961.0
 12     1962.0
 13     1962.0
 14     1962.0
 15     1962.0
 16     1963.0
 17     1963.0
 18     1963.0
 19     1963.0
 20     1964.0
 21     1964.0
 22     1964.0
 23     1964.0
 24     1965.0
 25     1965.0
 26     1965.0
 27     1965.0
 28     1966.0
 29     1966.0
         ...
 173    2002.0
 174    2002.0
 175    2002.0
 176    2003.0
 177    2003.0
 178    2003.0
 179    2003.0
 180    2004.0
 181    2004.0
 182    2004.0
 183    2004.0
 184    2005.0
 185    2005.0
 186    2005.0
 187    2005.0
 188    2006.0
 189    2006.0
 190    2006.0
 191    2006.0
 192    2007.0
 193    2007.0
 194    2007.0
 195    2007.0
 196    2008.0
 197    2008.0
 198    2008.0
 199    2008.0
 200    2009.0
 201    2009.0
 202    2009.0
 Name: year, Length: 203, dtype: float64, 0      1.0
 1      2.0
 2      3.0
 3      4.0
 4      1.0
 5      2.0
 6      3.0
 7      4.0
 8      1.0
 9      2.0
 10     3.0
 11     4.0
 12     1.0
 13     2.0
 14     3.0
 15     4.0
 16     1.0
 17     2.0
 18     3.0
 19     4.0
 20     1.0
 21     2.0
 22     3.0
 23     4.0
 24     1.0
 25     2.0
 26     3.0
 27     4.0
 28     1.0
 29     2.0
       ...
 173    2.0
 174    3.0
 175    4.0
 176    1.0
 177    2.0
 178    3.0
 179    4.0
 180    1.0
 181    2.0
 182    3.0
 183    4.0
 184    1.0
 185    2.0
 186    3.0
 187    4.0
 188    1.0
 189    2.0
 190    3.0
 191    4.0
 192    1.0
 193    2.0
 194    3.0
 195    4.0
 196    1.0
 197    2.0
 198    3.0
 199    4.0
 200    1.0
 201    2.0
 202    3.0
 Name: quarter, Length: 203, dtype: float64)

In [61]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [63]:
data.index = index

In [64]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
1960Q2,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.550,140.2,2.68,5.2,180.671,0.14,2.55
1960Q3,1960.0,3.0,2839.022,1785.8,296.375,474.676,1967.8,29.750,140.9,2.36,5.6,181.528,2.70,-0.34
1960Q4,1960.0,4.0,2802.616,1788.2,259.764,476.434,1966.6,29.840,141.1,2.29,6.3,182.287,1.21,1.08
1961Q1,1961.0,1.0,2819.264,1787.7,266.405,475.854,1984.5,29.810,142.1,2.37,6.8,182.992,-0.40,2.77
1961Q2,1961.0,2.0,2872.005,1814.3,286.246,480.328,2014.4,29.920,142.9,2.29,7.0,183.691,1.47,0.81
1961Q3,1961.0,3.0,2918.419,1823.1,310.227,493.828,2041.9,29.980,144.1,2.32,6.8,184.524,0.80,1.52
1961Q4,1961.0,4.0,2977.830,1859.6,315.463,502.521,2082.0,30.040,145.2,2.60,6.2,185.242,0.80,1.80
1962Q1,1962.0,1.0,3031.241,1879.4,334.271,520.960,2101.7,30.210,146.4,2.73,5.6,185.874,2.26,0.47
1962Q2,1962.0,2.0,3064.709,1902.5,331.039,523.066,2125.2,30.220,146.5,2.78,5.5,186.538,0.13,2.65
1962Q3,1962.0,3.0,3093.047,1917.9,336.962,538.838,2137.0,30.380,146.7,2.78,5.6,187.323,2.11,0.67
1962Q4,1962.0,4.0,3100.563,1945.1,325.650,535.912,2154.6,30.440,148.3,2.87,5.5,188.013,0.79,2.08
1963Q1,1963.0,1.0,3141.087,1958.2,343.721,522.917,2172.5,30.480,149.7,2.90,5.8,188.580,0.53,2.38
1963Q2,1963.0,2.0,3180.447,1976.9,348.730,518.108,2193.1,30.690,151.3,3.03,5.7,189.242,2.75,0.29
1963Q3,1963.0,3.0,3240.332,2003.8,360.102,546.893,2217.9,30.750,152.6,3.38,5.5,190.028,0.78,2.60
1963Q4,1963.0,4.0,3264.967,2020.6,364.534,532.383,2254.6,30.940,153.7,3.52,5.6,190.668,2.46,1.06
1964Q1,1964.0,1.0,3338.246,2060.5,379.523,529.686,2299.6,30.950,154.8,3.51,5.5,191.245,0.13,3.38
1964Q2,1964.0,2.0,3376.587,2096.7,377.778,526.175,2362.1,31.020,156.8,3.47,5.2,191.889,0.90,2.57
1964Q3,1964.0,3.0,3422.469,2135.2,386.754,522.008,2392.7,31.120,159.2,3.53,5.0,192.631,1.29,2.25
1964Q4,1964.0,4.0,3431.957,2141.2,389.910,514.603,2420.4,31.280,160.7,3.76,5.0,193.223,2.05,1.71
1965Q1,1965.0,1.0,3516.251,2188.8,429.145,508.006,2447.4,31.380,162.0,3.93,4.9,193.709,1.28,2.65
1965Q2,1965.0,2.0,3563.960,2213.0,429.119,508.931,2474.5,31.580,163.1,3.84,4.7,194.303,2.54,1.30
1965Q3,1965.0,3.0,3636.285,2251.0,444.444,529.446,2542.6,31.650,166.0,3.93,4.4,194.997,0.89,3.04
1965Q4,1965.0,4.0,3724.014,2314.3,446.493,544.121,2594.1,31.880,169.1,4.35,4.1,195.539,2.90,1.46
1966Q1,1966.0,1.0,3815.423,2348.5,484.244,556.593,2618.4,32.280,171.8,4.62,3.9,195.999,4.99,-0.37
1966Q2,1966.0,2.0,3828.124,2354.5,475.408,571.371,2624.7,32.450,170.3,4.65,3.8,196.560,2.10,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002Q2,2002.0,2.0,11538.770,7997.8,1810.779,774.408,8658.9,180.000,1199.5,1.70,5.8,288.028,1.56,0.14
2002Q3,2002.0,3.0,11596.430,8052.0,1814.531,786.673,8629.2,181.200,1204.0,1.61,5.7,288.783,2.66,-1.05
2002Q4,2002.0,4.0,11598.824,8080.6,1813.219,799.967,8649.6,182.600,1226.8,1.20,5.8,289.421,3.08,-1.88
2003Q1,2003.0,1.0,11645.819,8122.3,1813.141,800.196,8681.3,183.200,1248.4,1.14,5.9,290.019,1.31,-0.17
2003Q2,2003.0,2.0,11738.706,8197.8,1823.698,838.775,8812.5,183.700,1287.9,0.96,6.2,290.704,1.09,-0.13
2003Q3,2003.0,3.0,11935.461,8312.1,1889.883,839.598,8935.4,184.900,1297.3,0.94,6.1,291.449,2.60,-1.67
2003Q4,2003.0,4.0,12042.817,8358.0,1959.783,845.722,8986.4,186.300,1306.1,0.90,5.8,292.057,3.02,-2.11
2004Q1,2004.0,1.0,12127.623,8437.6,1970.015,856.570,9025.9,187.400,1332.1,0.94,5.7,292.635,2.35,-1.42
2004Q2,2004.0,2.0,12213.818,8483.2,2055.580,861.440,9115.0,189.100,1340.5,1.21,5.6,293.310,3.61,-2.41
2004Q3,2004.0,3.0,12303.533,8555.8,2082.231,876.385,9175.9,190.800,1361.0,1.63,5.4,294.066,3.58,-1.95
2004Q4,2004.0,4.0,12410.282,8654.2,2125.152,865.596,9303.4,191.800,1366.6,2.20,5.4,294.741,2.09,0.11
2005Q1,2005.0,1.0,12534.113,8719.0,2170.299,869.204,9189.6,193.800,1357.8,2.69,5.3,295.308,4.15,-1.46
2005Q2,2005.0,2.0,12587.535,8802.9,2131.468,870.044,9253.0,194.700,1366.6,3.01,5.1,295.994,1.85,1.16
2005Q3,2005.0,3.0,12683.153,8865.6,2154.949,890.394,9308.0,199.200,1375.0,3.52,5.0,296.770,9.14,-5.62
2005Q4,2005.0,4.0,12748.699,8888.5,2232.193,875.557,9358.7,199.400,1380.6,4.00,4.9,297.435,0.40,3.60
2006Q1,2006.0,1.0,12915.938,8986.6,2264.721,900.511,9533.8,200.700,1380.5,4.51,4.7,298.061,2.60,1.91
2006Q2,2006.0,2.0,12962.462,9035.0,2261.247,892.839,9617.3,202.700,1369.2,4.82,4.7,298.766,3.97,0.85
2006Q3,2006.0,3.0,12965.916,9090.7,2229.636,892.002,9662.5,201.900,1369.4,4.90,4.7,299.593,-1.58,6.48
2006Q4,2006.0,4.0,13060.679,9181.6,2165.966,894.404,9788.8,203.574,1373.6,4.92,4.4,300.320,3.30,1.62
2007Q1,2007.0,1.0,13099.901,9265.1,2132.609,882.766,9830.2,205.920,1379.7,4.95,4.5,300.977,4.58,0.36
2007Q2,2007.0,2.0,13203.977,9291.5,2162.214,898.713,9842.7,207.338,1370.0,4.72,4.5,301.714,2.75,1.97
2007Q3,2007.0,3.0,13321.109,9335.6,2166.491,918.983,9883.9,209.133,1379.2,4.00,4.7,302.509,3.45,0.55
2007Q4,2007.0,4.0,13391.249,9363.6,2123.426,925.110,9886.2,212.495,1377.4,3.01,4.8,303.204,6.38,-3.37
2008Q1,2008.0,1.0,13366.865,9349.6,2082.886,943.372,9826.8,213.997,1384.0,1.56,4.9,303.803,2.82,-1.26
2008Q2,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79
2008Q3,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44