In [2]:
a=1;b=2;c=3

In [5]:
a

1

In [6]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [1]:
def append(data,element):
    data.append(element)

In [2]:
data = [1,2,3]
element = 1
append(data,element)
data

[1, 2, 3, 1]

In [3]:
data?

In [19]:
a = 4.5
b =2
print('a is {0}, b is {1}'.format(type(a),type(b)))

a is <class 'float'>, b is <class 'int'>

In [20]:
a/b

2.25

In [21]:
a//b

2.0

In [8]:
a = 5
isinstance(a,int)

True

In [11]:
a = 4.5; b= 2
isinstance(a,(int,float))

True

In [22]:
a = [1,2,3]
b = a
a is b

True

In [23]:
c = list(a)
print(c)
a is not c

[1, 2, 3]

True

In [17]:
a == c

True

In [18]:
a = None
a is None

True

In [24]:
a = 'a'
b = 'b'
text = """A sample refers to a smaller, manageable version of a larger group. 
It is a subset containing the characteristics of a larger population. 
Samples are used in statistical testing when population sizes are too large for the test to include all possible members or observations"""

In [25]:
text

'A sample refers to a smaller, manageable version of a larger group. \nIt is a subset containing the characteristics of a larger population. \nSamples are used in statistical testing when population sizes are too large for the test to include all possible members or observations'

In [26]:
text.count('\n')

2

In [27]:
text.count('a')

24

In [28]:
a = 'this is string'
b = a.replace('string','longer string')
print(a)
print(b)

this is string
this is longer string

In [30]:
a = 5
b = str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [33]:
s = 'python'
s = list(s)
s[:3]

['p', 'y', 't']

In [37]:
stringTemplate = '{0:.2f} {1:s} are worth US${2:d}'

In [38]:
stringTemplate.format(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos are worth US$1'

In [40]:
def add_mul_values(a,b,c=None):
    result = a+b
    if c is not None:
        result = result*c
    return result

In [41]:
add_mul_values(1,2)

3

In [42]:
add_mul_values(1,2,3)

9

In [45]:
%time from datetime import datetime,date,time

Wall time: 0 ns

In [46]:
dt = datetime(2011,10,29,20,30,21)

In [48]:
dt.day

29

In [49]:
dt.minute

30

In [50]:
dt.second

21

In [51]:
dt.date()

datetime.date(2011, 10, 29)

In [52]:
dt.time()

datetime.time(20, 30, 21)

In [53]:
dt.replace(second=0,minute=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [54]:
dt2 = datetime(2011,11,15,22,30)

In [57]:
delta = dt2-dt
delta

datetime.timedelta(days=17, seconds=7179)

In [58]:
dt+delta

datetime.datetime(2011, 11, 15, 22, 30)

In [59]:
iterator = [[1,2,3],[4,5,6]]
for a,b,c in iterator:
    print(a,b,c)

1 2 3
4 5 6

In [60]:
sum = 0 
for i in range(10,1,-2):
    sum += i
sum

30

In [61]:
x = -5
value = 'Negative' if x<0 else 'Positive'
value

'Negative'

In [62]:
a,b = 1,2
print(a)
print(b)

1
2

In [63]:
b,a = a,b
print(a)
print(b)

2
1

In [64]:
seq = [(1,2,3),(4,5,6)]
for a,b,c in seq:
    print('a={0} b={1} c={2}'.format(a,b,c))

a=1 b=2 c=3
a=4 b=5 c=6

In [67]:
values = 1,2,3,4,5
values

(1, 2, 3, 4, 5)

In [70]:
a,b,*rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [71]:
values.count(4)

1

In [75]:
listA = ['foo','bar','baz']

In [76]:
'foo' in listA

True

In [77]:
'foo' not in listA

False

In [78]:
x = [1,2,3]
x

[1, 2, 3]

In [79]:
x.extend([3,4,5])

In [80]:
x

[1, 2, 3, 3, 4, 5]

In [82]:
a = [7,5,9,4,2,6]
a

[7, 5, 9, 4, 2, 6]

In [84]:
a.sort()
a

[2, 4, 5, 6, 7, 9]

In [86]:
b = ['saw','small','He','fox','six']
b.sort(key=len)
b

['He', 'saw', 'fox', 'six', 'small']

In [94]:
import bisect
a = [1,2,3,4,4,4,5,5,6]

bisect.bisect(a,7)

9

In [91]:
bisect.insort(a,7)

In [92]:
a

[1, 2, 3, 4, 4, 4, 5, 5, 6, 7]

In [102]:
lista = ['foo','bar','lar']

for i,value in enumerate(lista):
    print('i={0} value={1}'.format(i,value))

i=0 value=foo
i=1 value=bar
i=2 value=lar

In [97]:
a = [2,5,3,5,1,2,53,6,8,5,7,8]
sorted(a)

[1, 2, 2, 3, 5, 5, 5, 6, 7, 8, 8, 53]

In [104]:
seqA = ['one','two','three']
seqB = ['four','five','six']
zipped = zip(seqA,seqB)
list(zipped)

[('one', 'four'), ('two', 'five'), ('three', 'six')]

In [107]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [114]:
d1 = {'a': 'Some Value', 'b':[1,2,3,4]}

In [115]:
d1['b']

[1, 2, 3, 4]

In [116]:
'b' in d1

True

In [117]:
del d1['a']
d1

{'b': [1, 2, 3, 4]}

In [118]:
d1.pop('b')
d1

{}

In [119]:
d1 = {'a': 'Some Value', 'b':[1,2,3,4]}
d1

{'a': 'Some Value', 'b': [1, 2, 3, 4]}

In [120]:
d1.update({1:'This is 1', 2:'This is two'})
d1

{'a': 'Some Value', 'b': [1, 2, 3, 4], 1: 'This is 1', 2: 'This is two'}

In [121]:
from collections import defaultdict
d2 = defaultdict(list)
d2

defaultdict(list, {})

In [122]:
sq = lambda x:x**2

In [123]:
sq(3)

9

In [124]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]
listA = [1,2,3,4,5]
apply_to_list(listA,lambda x:x**2)

[1, 4, 9, 16, 25]

In [125]:
def squares(n=10):
    print("in function")
    for i in range(1,n+1):
        yield i**2

In [138]:
gen = squares()

In [139]:
gen

In [140]:
for i in gen:
    print(i)

in function
1
4
9
16
25
36
49
64
81
100

In [147]:
gen1 = (i**2 for i in range(10))

In [148]:
gen1

In [149]:
for i in gen1:
    print(i)

0
1
4
9
16
25
36
49
64
81