In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.arange(6).reshape((2,3)),index=pd.Index(['Ohio','Colorado'],name='state'),columns=pd.Index(['one','two','three'],name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [4]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

In [5]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [6]:
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [8]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [9]:
s1 = pd.Series([0,1,2,3],index=['a','b','c','d'])
s1

a    0
b    1
c    2
d    3
dtype: int64

In [10]:
s2 = pd.Series([4,5,6],index=['c','d','e'])
s2

c    4
d    5
e    6
dtype: int64

In [11]:
data2 = pd.concat([s1,s2],keys=['one','two'])
data2

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

In [12]:
data2.unstack()

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [14]:
data2.unstack().stack()

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64

In [15]:
data2.unstack().stack(dropna=False)

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64

In [16]:
df = pd.DataFrame({'left':result,'right':result+5},columns=pd.Index(['left','right'],name='side'))
df

side             left  right
state    number
Ohio     one        0      5
         two        1      6
         three      2      7
Colorado one        3      8
         two        4      9
         three      5     10

In [17]:
df.unstack('state')

side   left          right
state  Ohio Colorado  Ohio Colorado
number
one       0        3     5        8
two       1        4     6        9
three     2        5     7       10

In [18]:
df.unstack('state').stack('side')

state         Colorado  Ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7

# Pivoting "Long" to "Wide" Format

In [19]:
data = pd.read_csv('examples/macrodata.csv')
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [20]:
periods = pd.PeriodIndex(year=data.year,quarter=data.quarter,name='date')
periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203, freq='Q-DEC')

In [21]:
columns = pd.Index(['realgdp','infl','unemp'],name='item')
data = data.reindex(columns=columns)
data

item    realgdp  infl  unemp
0      2710.349  0.00    5.8
1      2778.801  2.34    5.1
2      2775.488  2.74    5.3
3      2785.204  0.27    5.6
4      2847.699  2.31    5.2
5      2834.390  0.14    5.2
6      2839.022  2.70    5.6
7      2802.616  1.21    6.3
8      2819.264 -0.40    6.8
9      2872.005  1.47    7.0
10     2918.419  0.80    6.8
11     2977.830  0.80    6.2
12     3031.241  2.26    5.6
13     3064.709  0.13    5.5
14     3093.047  2.11    5.6
15     3100.563  0.79    5.5
16     3141.087  0.53    5.8
17     3180.447  2.75    5.7
18     3240.332  0.78    5.5
19     3264.967  2.46    5.6
20     3338.246  0.13    5.5
21     3376.587  0.90    5.2
22     3422.469  1.29    5.0
23     3431.957  2.05    5.0
24     3516.251  1.28    4.9
25     3563.960  2.54    4.7
26     3636.285  0.89    4.4
27     3724.014  2.90    4.1
28     3815.423  4.99    3.9
29     3828.124  2.10    3.8
..          ...   ...    ...
173   11538.770  1.56    5.8
174   11596.430  2.66    5.7
175   11598.824  3.08    5.8
176   11645.819  1.31    5.9
177   11738.706  1.09    6.2
178   11935.461  2.60    6.1
179   12042.817  3.02    5.8
180   12127.623  2.35    5.7
181   12213.818  3.61    5.6
182   12303.533  3.58    5.4
183   12410.282  2.09    5.4
184   12534.113  4.15    5.3
185   12587.535  1.85    5.1
186   12683.153  9.14    5.0
187   12748.699  0.40    4.9
188   12915.938  2.60    4.7
189   12962.462  3.97    4.7
190   12965.916 -1.58    4.7
191   13060.679  3.30    4.4
192   13099.901  4.58    4.5
193   13203.977  2.75    4.5
194   13321.109  3.45    4.7
195   13391.249  6.38    4.8
196   13366.865  2.82    4.9
197   13415.266  8.53    5.4
198   13324.600 -3.16    6.0
199   13141.920 -8.79    6.9
200   12925.410  0.94    8.1
201   12901.504  3.37    9.2
202   12990.341  3.56    9.6

[203 rows x 3 columns]

In [22]:
data.index = periods.to_timestamp('D','end')
data

item                             realgdp  infl  unemp
date
1959-03-31 23:59:59.999999999   2710.349  0.00    5.8
1959-06-30 23:59:59.999999999   2778.801  2.34    5.1
1959-09-30 23:59:59.999999999   2775.488  2.74    5.3
1959-12-31 23:59:59.999999999   2785.204  0.27    5.6
1960-03-31 23:59:59.999999999   2847.699  2.31    5.2
1960-06-30 23:59:59.999999999   2834.390  0.14    5.2
1960-09-30 23:59:59.999999999   2839.022  2.70    5.6
1960-12-31 23:59:59.999999999   2802.616  1.21    6.3
1961-03-31 23:59:59.999999999   2819.264 -0.40    6.8
1961-06-30 23:59:59.999999999   2872.005  1.47    7.0
1961-09-30 23:59:59.999999999   2918.419  0.80    6.8
1961-12-31 23:59:59.999999999   2977.830  0.80    6.2
1962-03-31 23:59:59.999999999   3031.241  2.26    5.6
1962-06-30 23:59:59.999999999   3064.709  0.13    5.5
1962-09-30 23:59:59.999999999   3093.047  2.11    5.6
1962-12-31 23:59:59.999999999   3100.563  0.79    5.5
1963-03-31 23:59:59.999999999   3141.087  0.53    5.8
1963-06-30 23:59:59.999999999   3180.447  2.75    5.7
1963-09-30 23:59:59.999999999   3240.332  0.78    5.5
1963-12-31 23:59:59.999999999   3264.967  2.46    5.6
1964-03-31 23:59:59.999999999   3338.246  0.13    5.5
1964-06-30 23:59:59.999999999   3376.587  0.90    5.2
1964-09-30 23:59:59.999999999   3422.469  1.29    5.0
1964-12-31 23:59:59.999999999   3431.957  2.05    5.0
1965-03-31 23:59:59.999999999   3516.251  1.28    4.9
1965-06-30 23:59:59.999999999   3563.960  2.54    4.7
1965-09-30 23:59:59.999999999   3636.285  0.89    4.4
1965-12-31 23:59:59.999999999   3724.014  2.90    4.1
1966-03-31 23:59:59.999999999   3815.423  4.99    3.9
1966-06-30 23:59:59.999999999   3828.124  2.10    3.8
...                                  ...   ...    ...
2002-06-30 23:59:59.999999999  11538.770  1.56    5.8
2002-09-30 23:59:59.999999999  11596.430  2.66    5.7
2002-12-31 23:59:59.999999999  11598.824  3.08    5.8
2003-03-31 23:59:59.999999999  11645.819  1.31    5.9
2003-06-30 23:59:59.999999999  11738.706  1.09    6.2
2003-09-30 23:59:59.999999999  11935.461  2.60    6.1
2003-12-31 23:59:59.999999999  12042.817  3.02    5.8
2004-03-31 23:59:59.999999999  12127.623  2.35    5.7
2004-06-30 23:59:59.999999999  12213.818  3.61    5.6
2004-09-30 23:59:59.999999999  12303.533  3.58    5.4
2004-12-31 23:59:59.999999999  12410.282  2.09    5.4
2005-03-31 23:59:59.999999999  12534.113  4.15    5.3
2005-06-30 23:59:59.999999999  12587.535  1.85    5.1
2005-09-30 23:59:59.999999999  12683.153  9.14    5.0
2005-12-31 23:59:59.999999999  12748.699  0.40    4.9
2006-03-31 23:59:59.999999999  12915.938  2.60    4.7
2006-06-30 23:59:59.999999999  12962.462  3.97    4.7
2006-09-30 23:59:59.999999999  12965.916 -1.58    4.7
2006-12-31 23:59:59.999999999  13060.679  3.30    4.4
2007-03-31 23:59:59.999999999  13099.901  4.58    4.5
2007-06-30 23:59:59.999999999  13203.977  2.75    4.5
2007-09-30 23:59:59.999999999  13321.109  3.45    4.7
2007-12-31 23:59:59.999999999  13391.249  6.38    4.8
2008-03-31 23:59:59.999999999  13366.865  2.82    4.9
2008-06-30 23:59:59.999999999  13415.266  8.53    5.4
2008-09-30 23:59:59.999999999  13324.600 -3.16    6.0
2008-12-31 23:59:59.999999999  13141.920 -8.79    6.9
2009-03-31 23:59:59.999999999  12925.410  0.94    8.1
2009-06-30 23:59:59.999999999  12901.504  3.37    9.2
2009-09-30 23:59:59.999999999  12990.341  3.56    9.6

[203 rows x 3 columns]

In [23]:
ldata = data.stack().reset_index().rename(columns={0:'value'})
ldata

                             date     item      value
0   1959-03-31 23:59:59.999999999  realgdp   2710.349
1   1959-03-31 23:59:59.999999999     infl      0.000
2   1959-03-31 23:59:59.999999999    unemp      5.800
3   1959-06-30 23:59:59.999999999  realgdp   2778.801
4   1959-06-30 23:59:59.999999999     infl      2.340
5   1959-06-30 23:59:59.999999999    unemp      5.100
6   1959-09-30 23:59:59.999999999  realgdp   2775.488
7   1959-09-30 23:59:59.999999999     infl      2.740
8   1959-09-30 23:59:59.999999999    unemp      5.300
9   1959-12-31 23:59:59.999999999  realgdp   2785.204
10  1959-12-31 23:59:59.999999999     infl      0.270
11  1959-12-31 23:59:59.999999999    unemp      5.600
12  1960-03-31 23:59:59.999999999  realgdp   2847.699
13  1960-03-31 23:59:59.999999999     infl      2.310
14  1960-03-31 23:59:59.999999999    unemp      5.200
15  1960-06-30 23:59:59.999999999  realgdp   2834.390
16  1960-06-30 23:59:59.999999999     infl      0.140
17  1960-06-30 23:59:59.999999999    unemp      5.200
18  1960-09-30 23:59:59.999999999  realgdp   2839.022
19  1960-09-30 23:59:59.999999999     infl      2.700
20  1960-09-30 23:59:59.999999999    unemp      5.600
21  1960-12-31 23:59:59.999999999  realgdp   2802.616
22  1960-12-31 23:59:59.999999999     infl      1.210
23  1960-12-31 23:59:59.999999999    unemp      6.300
24  1961-03-31 23:59:59.999999999  realgdp   2819.264
25  1961-03-31 23:59:59.999999999     infl     -0.400
26  1961-03-31 23:59:59.999999999    unemp      6.800
27  1961-06-30 23:59:59.999999999  realgdp   2872.005
28  1961-06-30 23:59:59.999999999     infl      1.470
29  1961-06-30 23:59:59.999999999    unemp      7.000
..                            ...      ...        ...
579 2007-06-30 23:59:59.999999999  realgdp  13203.977
580 2007-06-30 23:59:59.999999999     infl      2.750
581 2007-06-30 23:59:59.999999999    unemp      4.500
582 2007-09-30 23:59:59.999999999  realgdp  13321.109
583 2007-09-30 23:59:59.999999999     infl      3.450
584 2007-09-30 23:59:59.999999999    unemp      4.700
585 2007-12-31 23:59:59.999999999  realgdp  13391.249
586 2007-12-31 23:59:59.999999999     infl      6.380
587 2007-12-31 23:59:59.999999999    unemp      4.800
588 2008-03-31 23:59:59.999999999  realgdp  13366.865
589 2008-03-31 23:59:59.999999999     infl      2.820
590 2008-03-31 23:59:59.999999999    unemp      4.900
591 2008-06-30 23:59:59.999999999  realgdp  13415.266
592 2008-06-30 23:59:59.999999999     infl      8.530
593 2008-06-30 23:59:59.999999999    unemp      5.400
594 2008-09-30 23:59:59.999999999  realgdp  13324.600
595 2008-09-30 23:59:59.999999999     infl     -3.160
596 2008-09-30 23:59:59.999999999    unemp      6.000
597 2008-12-31 23:59:59.999999999  realgdp  13141.920
598 2008-12-31 23:59:59.999999999     infl     -8.790
599 2008-12-31 23:59:59.999999999    unemp      6.900
600 2009-03-31 23:59:59.999999999  realgdp  12925.410
601 2009-03-31 23:59:59.999999999     infl      0.940
602 2009-03-31 23:59:59.999999999    unemp      8.100
603 2009-06-30 23:59:59.999999999  realgdp  12901.504
604 2009-06-30 23:59:59.999999999     infl      3.370
605 2009-06-30 23:59:59.999999999    unemp      9.200
606 2009-09-30 23:59:59.999999999  realgdp  12990.341
607 2009-09-30 23:59:59.999999999     infl      3.560
608 2009-09-30 23:59:59.999999999    unemp      9.600

[609 rows x 3 columns]

In [24]:
pivoted = ldata.pivot('date','item','value')
pivoted

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
1960-06-30 23:59:59.999999999  0.14   2834.390    5.2
1960-09-30 23:59:59.999999999  2.70   2839.022    5.6
1960-12-31 23:59:59.999999999  1.21   2802.616    6.3
1961-03-31 23:59:59.999999999 -0.40   2819.264    6.8
1961-06-30 23:59:59.999999999  1.47   2872.005    7.0
1961-09-30 23:59:59.999999999  0.80   2918.419    6.8
1961-12-31 23:59:59.999999999  0.80   2977.830    6.2
1962-03-31 23:59:59.999999999  2.26   3031.241    5.6
1962-06-30 23:59:59.999999999  0.13   3064.709    5.5
1962-09-30 23:59:59.999999999  2.11   3093.047    5.6
1962-12-31 23:59:59.999999999  0.79   3100.563    5.5
1963-03-31 23:59:59.999999999  0.53   3141.087    5.8
1963-06-30 23:59:59.999999999  2.75   3180.447    5.7
1963-09-30 23:59:59.999999999  0.78   3240.332    5.5
1963-12-31 23:59:59.999999999  2.46   3264.967    5.6
1964-03-31 23:59:59.999999999  0.13   3338.246    5.5
1964-06-30 23:59:59.999999999  0.90   3376.587    5.2
1964-09-30 23:59:59.999999999  1.29   3422.469    5.0
1964-12-31 23:59:59.999999999  2.05   3431.957    5.0
1965-03-31 23:59:59.999999999  1.28   3516.251    4.9
1965-06-30 23:59:59.999999999  2.54   3563.960    4.7
1965-09-30 23:59:59.999999999  0.89   3636.285    4.4
1965-12-31 23:59:59.999999999  2.90   3724.014    4.1
1966-03-31 23:59:59.999999999  4.99   3815.423    3.9
1966-06-30 23:59:59.999999999  2.10   3828.124    3.8
...                             ...        ...    ...
2002-06-30 23:59:59.999999999  1.56  11538.770    5.8
2002-09-30 23:59:59.999999999  2.66  11596.430    5.7
2002-12-31 23:59:59.999999999  3.08  11598.824    5.8
2003-03-31 23:59:59.999999999  1.31  11645.819    5.9
2003-06-30 23:59:59.999999999  1.09  11738.706    6.2
2003-09-30 23:59:59.999999999  2.60  11935.461    6.1
2003-12-31 23:59:59.999999999  3.02  12042.817    5.8
2004-03-31 23:59:59.999999999  2.35  12127.623    5.7
2004-06-30 23:59:59.999999999  3.61  12213.818    5.6
2004-09-30 23:59:59.999999999  3.58  12303.533    5.4
2004-12-31 23:59:59.999999999  2.09  12410.282    5.4
2005-03-31 23:59:59.999999999  4.15  12534.113    5.3
2005-06-30 23:59:59.999999999  1.85  12587.535    5.1
2005-09-30 23:59:59.999999999  9.14  12683.153    5.0
2005-12-31 23:59:59.999999999  0.40  12748.699    4.9
2006-03-31 23:59:59.999999999  2.60  12915.938    4.7
2006-06-30 23:59:59.999999999  3.97  12962.462    4.7
2006-09-30 23:59:59.999999999 -1.58  12965.916    4.7
2006-12-31 23:59:59.999999999  3.30  13060.679    4.4
2007-03-31 23:59:59.999999999  4.58  13099.901    4.5
2007-06-30 23:59:59.999999999  2.75  13203.977    4.5
2007-09-30 23:59:59.999999999  3.45  13321.109    4.7
2007-12-31 23:59:59.999999999  6.38  13391.249    4.8
2008-03-31 23:59:59.999999999  2.82  13366.865    4.9
2008-06-30 23:59:59.999999999  8.53  13415.266    5.4
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]