In [1]:
import pandas as pd
import numpy as np
import datetime as datetime

In [2]:
import pytz

In [5]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [6]:
tz = pytz.timezone('America/New_York')
tz

# Timezone Localization and Conversion

In [8]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [9]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00    1.094818
2012-03-10 09:30:00   -0.498406
2012-03-11 09:30:00   -2.355634
2012-03-12 09:30:00   -0.453656
2012-03-13 09:30:00   -0.023168
2012-03-14 09:30:00    1.260370
Freq: D, dtype: float64

In [12]:
print(ts.index.tz) #By default, timeseries in pandas as timezone naive

None

In [13]:
pd.date_range('3/9/2012 9:30', periods=6, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [14]:
ts

2012-03-09 09:30:00    1.094818
2012-03-10 09:30:00   -0.498406
2012-03-11 09:30:00   -2.355634
2012-03-12 09:30:00   -0.453656
2012-03-13 09:30:00   -0.023168
2012-03-14 09:30:00    1.260370
Freq: D, dtype: float64

In [15]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    1.094818
2012-03-10 09:30:00+00:00   -0.498406
2012-03-11 09:30:00+00:00   -2.355634
2012-03-12 09:30:00+00:00   -0.453656
2012-03-13 09:30:00+00:00   -0.023168
2012-03-14 09:30:00+00:00    1.260370
Freq: D, dtype: float64

In [17]:
ts_utc.index.tz

In [19]:
ts_utc.tz_convert('America/New_York').index.tz

In [20]:
ts_eastren = ts.tz_localize('America/New_York')
ts_eastren.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.094818
2012-03-10 14:30:00+00:00   -0.498406
2012-03-11 13:30:00+00:00   -2.355634
2012-03-12 13:30:00+00:00   -0.453656
2012-03-13 13:30:00+00:00   -0.023168
2012-03-14 13:30:00+00:00    1.260370
Freq: D, dtype: float64

In [21]:
ts_eastren.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.094818
2012-03-10 15:30:00+01:00   -0.498406
2012-03-11 14:30:00+01:00   -2.355634
2012-03-12 14:30:00+01:00   -0.453656
2012-03-13 14:30:00+01:00   -0.023168
2012-03-14 14:30:00+01:00    1.260370
Freq: D, dtype: float64

In [22]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [24]:
print(ts.index.tz)

None

# Operations with TimeZone - Aware Timestamp Objects

In [26]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp

Timestamp('2011-03-12 04:00:00')

In [27]:
stamp_utc = stamp.tz_localize('utc')
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [28]:
stamp_moscow = stamp_utc.tz_convert('Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 07:00:00+0300', tz='Europe/Moscow')

In [29]:
stamp_utc.value

1299902400000000000

In [31]:
stamp_moscow.value #Internally stores timestamp as UTC even though the timezone is of moscow

1299902400000000000

In [32]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 1:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [33]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [34]:
stamp+2*Hour()

Timestamp('2012-03-12 03:30:00-0400', tz='US/Eastern')

# Operations between Different TimeZones

In [36]:
rng = pd.date_range('3/7/2012 9:30',periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00    0.739496
2012-03-08 09:30:00+00:00   -0.476982
2012-03-09 09:30:00+00:00    0.435604
2012-03-12 09:30:00+00:00    0.929007
2012-03-13 09:30:00+00:00    0.063685
2012-03-14 09:30:00+00:00    0.158074
2012-03-15 09:30:00+00:00    1.222900
Freq: B, dtype: float64

In [38]:
ts2 = ts1[2:].tz_convertert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00    0.435604
2012-03-12 13:30:00+04:00    0.929007
2012-03-13 13:30:00+04:00    0.063685
2012-03-14 13:30:00+04:00    0.158074
2012-03-15 13:30:00+04:00    1.222900
Freq: B, dtype: float64

In [41]:
result = ts1+ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    0.871207
2012-03-12 09:30:00+00:00    1.858013
2012-03-13 09:30:00+00:00    0.127371
2012-03-14 09:30:00+00:00    0.316149
2012-03-15 09:30:00+00:00    2.445800
Freq: B, dtype: float64

In [44]:
result.index.tz #If the operation is performed on different timeseries of differnt zones the resultant will be in UTC